@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    box-sizing: content-box;
    /* padding: 4px; */
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background: #ffffff;
}


.img {
    max-width: 100%;
    padding: 4px;
}

hr {
    height: 0.2px;
    color: #000;
    width: 100%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.h2-gallery {
    text-align: center;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 4px;

}

/*****Navbar*****/



.navbar {
    background: rgb(5, 96, 5);
    color: #ffffff;
    height: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 4px;
    padding: 10px;
    opacity: 0.7;
    /* background-image: url(../images/clubmembersbg1.jpg); */
}

#topnav-right {
    float: right;
}

.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar a:hover {
    color: yellow;
    border-bottom: 0.5px solid yellow;
    border-top: 0.5px solid yellow;
    border-left: 0.5px solid yellow;
    border-right: 0.5px solid yellow;
    padding: 5px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 4px;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    float: right;
    margin-left: 20px;
}


#hero-image {
    height: 320px;
    width: auto;
    background-image:
        url(../images/chichendiscovercenter.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    margin: 4px;
    /* display: flex;
    align-items: flex-end;
    justify-content: center; */
}

#cover-text,
#cover-text h1 {
    color: #fff;
    font-size: 100%;
}

#hero-image h1 {
    color: #fff;
    padding-top: 50px;
    font-size: 180%;
    font-weight: bold;
}

/***About***/

.about-section {
    padding: 50px;
    margin: 4px;
    text-align: center;
    color: rgb(0, 0, 0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/aboutbg1.jpg);
}

.about-text {
    color: #fff;
}

.about-section h2 {
    color: #fff;
}

/******Cards******/

.container2 {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    backdrop-filter: blur(5px);
}

.card {
    flex: 0 0 200px;
    margin: 10px;
    border: 1.8px solid rgb(152, 255, 136);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    text-align: center;
    background-color: #ffffff;
}

.container2 img {
    max-width: 100%;
}

.texts {
    padding: 5px;
    margin-bottom: 10px;
}

/*******Gallery*******/

.gallery .img-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.img-gallery img {
    max-width: 300px;
    margin: 20px;
}

.content-colm h1 {
    font-size: 6vmin;
    color: rgb(182, 194, 17);
}

.container:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: cover;
    filter: blur(40px);
    z-index: -1;
}


.contact-box {
    /* max-width: 850px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.left {
    height: 100%;
    background: url(../images/mayacontact.jpg);
    background-size: cover;
}

/**/
.right>* {
    display: block;
    margin: 25px;
}


.image-grid {
    --gap: 16px;
    --num-cols: 4;
    --row-height: 300px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.image-grid>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 55px rgb(9, 148, 44);
}

.image-grid-col-2 {
    grid-column: span 2;
}

.image-grid-row-2 {
    grid-row: span 2;
}

/*footer*/

footer {
    height: 150px;
    color: #3a3a3a;
    background-color: #10bd1c26;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-networks {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.social-networks>li {
    display: inline;

}

.social-networks i {
    font-size: 240%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/****Media Queirys****/


@media screen and (max-width: 800px) {

    #navbar {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0;
    }

    #club-ethos {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading,
    .right-about-heading {
        width: inherit;
    }

    .left-about-heading h2,
    .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p,
    .right-about-heading p {
        text-align: center;
        padding: 0 20px;
    }
}



/* Media screen size */

@media screen and (max-width: 800px) {
    #photos {
        column-count: 2;
    }
}

@media screen and (max-width: 500px) {
    .navbar a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 12px;
        text-transform: lowercase;
    }

}


/* @media screen and (max-width: 400px) {

    #topnav-right {
        float: none;
    }
} */