@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #ffffff;
}

img {
    max-width: 100%;
}

h1,
h2 {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0px;
}

.navbar {
    background: rgb(5, 96, 5);
    color: #aeb4bf;
    height: 80px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.logo {
    font-size: x-large;
    font-weight: bold;
    color: rgb(251, 251, 91);
}

.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.navbar a:hover {
    color: rgb(81, 126, 14);
    border-bottom: 1px solid #b90505;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}


header {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30), rgba(4, 9, 30, 0.7)),
        url(/assets/images/mayatemple.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}



/**Imagees */
.gallery .img-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.img-gallery img {
    max-width: 300px;
    margin: 20px;
}

.content-colm h1 {
    font-size: 6vmin;
    color: rgb(182, 194, 17);
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
  }
  .container:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/mayacontact.jpg) no-repeat center;
    background-size: cover;
    z-index: -1;
    filter: blur(40px);
  }
  .contact-box {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
  }
  .left {
    height: 100%;
    background: url(/assets/images/mayacontact.jpg);
    background-size: cover;
  }
  .right {
    padding: 25px 40px;
  }
  .image-grid{
    --gap: 16px;
    --num-cols: 4;
    --row-height: 300px;
  
    box-sizing: border-box;
    padding: var(--gap);
    
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
  }
  