@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #ffffff;
}


img {
    max-width: 100%;
}

h1,
h2 {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
}


.container-sm {
    background-image: rgb(249, 245, 25);
    max-width: 1100px;
    margin: 0 auto;
    padding: 0px;

}

.navbar {
    background: rgb(5, 96, 5);
    color: #aeb4bf;
    height: auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.logo {
    font-size: x-large;
    font-weight: bold;
    color: rgb(251, 251, 91);
}

.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.navbar a:hover {
    color: rgb(81, 126, 14);
    border-bottom: 1px solid #b90505;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}


header {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30), rgba(4, 9, 30, 0.7)),
        url(/assets/images/mayatemple.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}



/**Imagees */

.gallery .img-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.img-gallery img {
    max-width: 300px;
    margin: 20px;
}

.content-colm h1 {
    font-size: 6vmin;
    color: rgb(182, 194, 17);
}

.container {
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}

.container:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url("/assets/images/mayacontact.jpg") no-repeat center;
    background-size: cover;
    filter: blur(40px);
    z-index: -1;
}

.contact-box {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.left {
    height: 100%;
    background: url(/assets/images/mayacontact.jpg);
    background-size: cover;
}


/**/
.right>* {
    display: block;
    margin: 25px;
}


h2 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

h2:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: whitesmoke;
}

.image-grid {
    --gap: 16px;
    --num-cols: 4;
    --row-height: 300px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.image-grid>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 55px rgb(9, 148, 44);
}

.image-grid-col-2 {
    grid-column: span 2;
}

.image-grid-row-2 {
    grid-row: span 2;
}

/*footer*/

footer {
    height: 150px;
    color: #3a3a3a;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;

}

.social-networks i {
    font-size: 240%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* Mobile Divs*/

@media screen and (max-width: 880px) {
    .contact-box {
        grid-template-columns: 1fr;
    }

    .left {
        height: 200px;
    }
}